<div class="row" >
    <div class="col-lg-3" *ngFor="let links of urlListDB">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Total Click:&nbsp;{{links.clickCount}}</div>
            <div class="card-body">
                 <span class="float-right">  
                    <a href="" (click)="urlCopy(links.shortURL)">                        
                        <i class="fa fa-copy"></i>
                    </a>&nbsp;&nbsp;
                    <a href="" (click)="delurl(links.shortURL)">
                        <i class="fa fa-trash"></i>
                    </a>
                   
                  </span>
                <h6 class="card-title">
                    Short URL:&nbsp;<a href="https://node-url-app.herokuapp.com/geturl/{{links.shortURL}}" >https://node-url-app.herokuapp.com/geturl/{{links.shortURL}}</a>
                   <span class="float-right">
                            <a href="#" (click)="urlCopy(links.shortURL)">                        
                                <i class="fa fa-copy"></i>
                            </a>
                   </span>
              </h6>
                <p class="card-text">Long URL: {{links.longURL}}</p>
            </div>
        </div>
    </div>
</div>
