<div class="row" >
    <div class="col-lg-3" *ngFor="let links of urlListDB">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Find your Short URL</div>
            <div class="card-body">
                <h6 class="card-title">
                    Short URL:&nbsp;<a routerLink="{{links.longURL}}">{{links.shortURL}}</a>
                </h6>
                <p class="card-text">Long URL: {{links.longURL}}</p>
            </div>
        </div>
    </div>
</div>