<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"><br>
                <h3>URL Shortener</h3>
            </div>
        </div><br><br>
        <form class="form-group" [formGroup]="urlForm" (submit)="sendUrl()">
            <div class="row">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Paste your long URL here"
                        aria-label="Paste Long URL" aria-describedby="button-addon2" formControlName="longURL">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" id="button-addon2" value="Shrink">
                    </div>
                </div>
            </div>
        </form>


        <app-urlviewdb> </app-urlviewdb>


    </div>

</body>

</html>
